@media (max-width: 767px) {
  .header-links {
    margin-bottom: 130px;
  }
  .section-about-description {
    width: 220px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-partner-item {
    margin-bottom: 30px;
  }
  .section-about-button {
    margin-left: auto;
    margin-right: auto;
  }
  .menu-partner {
    align-items: center;
  }
  .item-order-one {
    order: -2;
  }
  .item-order-two {
    order: -1;
  }
}

@media (min-width: 768px) {
  .container {
    width: 748px;
  }
  /* PAGE-HEADER stling */
  .page-header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  /* SECTION-ABOUT styling */
  .section-about {
    padding: 110px 0px 235px;
    width: 530px;
    margin: 0 auto;
  }
  .section-about-title {
    font-size: var(--font-size-title-large2);
    margin-bottom: 46px;
  }
  .section-about-description {
    font-size: var(--font-size-text-medium2);
    margin-bottom: 40px;
  }
  /* SECTION-PARTNER Styling */
  .section-partner {
    padding: 75px 0 40px;
    width: 492px;
    margin: 0 auto;
  }
  .section-partner-title {
    margin-bottom: 38px;
  }
  .menu-partner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .menu-partner-item {
    flex: 0 0 221px;
  }
}
@media (min-width: 768px) and (max-width: 961px) {
  .menu-partner-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 61px;
  }
  .page-header {
    padding: 50px 36px;
  }
}
@media (min-width: 962px) {
  .container {
    min-width: 942px;
    max-width: 1440px;
    width: 100%;
  }
  .page-header {
    padding: 50px 0px;
    width: 942px;
    margin: 0 auto;
  }
  .section-about {
    width: 503px;
  }
  .section-partner {
    width: 942px;
  }
  .menu-partner-item:not(:nth-child(-n + 4)) {
    margin-top: 22px;
  }
}
