$font-base: "Montserrat", sans-serif;
$font-second: "Roboto", sans-serif;
$font-second-decor: "Kaushan Script", sans-serif;

$font-size-small: 14px;
$font-size-small2: 15px;
$font-size-medium: 24px;
$font-size-medium2: 30px;
$font-size-large: 72px;
$font-size-large2: 150px;

$color-text-base: #ffffff;
$color-text-light: #999999;
$color-text-dark: #333333;
$color-text-slightly: #cccccc;
$color-text-alt: #f6a6a6;
$color-alt-marker: #f38181;
$color-alt-marker2: #fce38a;
$color-alt-marker3: #95e1d3;
$color-alt-marker4: #ffffff;
$color-alt-marker5: #999999;
$color-alt-marker6: #f38181;
