.subscribe-WRP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.subscribe__field {
    font-family: var(--font-second);
    font-size: var(--font-size-small2);
    color: var(--color-text-slightly);
    font-weight: 300;
    font-style: italic;
    padding: 14px 12px;
    width: 228px;
    height: 40px;  
}
.subscribe__btn {
    height: 40px;
    width: 151px;
    font-size: var(--font-size-small);
    font-family: var(--font-base);
    color: var(--color-text-base);
    font-weight: bold;
    background-color: var(--color-alt-marker3);
    text-transform: uppercase;
}