<li class='list-item list-item-js' id={{id}}>
    <h5 class='list-item__title'>{{title}}</h5>
    <p class='list-item__url'>{{url}}</p>
    <img class='list-item__img' alt='img' src={{image}}>
    <button data-action='remove' class='list-item__button'>Delete</button>
</li>