.image-gallery {
  margin: 0 auto;
  width: 1280px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}



li:not(:nth-child(3n)) {
  margin-right: 20px;
}


.activeImg {
  transform: scale(1.1);
}